{% extends 'women/base.html' %}

{% block content %}
    <div class="mt-5">
        {% for p in posts %}
            <div class="card mb-2">
                <div class="card-header">
                    <h5>{{ p.title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ p.content|linebreaks|truncatewords:50 }}</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Читать пост</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}